.navbar {
    z-index: 100;
    height: 100px;
    background-color: #07AA12;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__title {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
    }
    &__menu {
        font-size: 1.5rem;
        ul {
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            li {
                text-decoration: none;
                padding: 5px 30px;
                cursor: pointer;
                .link {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: #1EFB2D;
                        transition: 0.24s ease;
                    }
                }
            }
        }
        .icon {
            display: none;
        }   
    }
}

@media screen and (max-width: 1000px){
    .navbar__menu {
        .list {
            display: none;
        }
        .icon {
            cursor: pointer;
			display: block;	
			font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 1000px) {
	.navbar__menu.responsive {
		.list {
            top: 75px;
            text-align: right;
			position: absolute;
            right: 0;
			display: block;
            width: 100vw !important;
			background-color: #07AA12;
            li {
                padding: 15px 10%;
            }
		}
	}
} 
